<div class="container">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="panel panel-default widget">

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-11">
                                  <div class="comment-text">
                                      <p id="notice"><%= notice %></p>
                                      <h1>Posts</h1>
                                          <% @posts.each do |post| %>
                                              <h1><%= post.title %> </br></h1>
                                              <h3> <%= post.makale %></br></h3>
                                              <h5><%= post.tarih %></br></h5>
                                              <%= image_tag post.image.url(:thumb)%>
                                          <% end %>
                                      <br>
                                    </div>
                                    <div class="action">
                                      <%if current_user.yetki?%>
                                      <%= link_to '', post, :method => :delete, data: {confirm: 'Eminmisin?',commit: 'Evet'},class:"glyphicon glyphicon-trash" %>
                                      <%= link_to '', edit_post_path(post),class:"glyphicon glyphicon-pencil" %>

                                      <%end%>
                                      <%= link_to '', post_path(post),class:"glyphicon glyphicon-hand-right" %>
                                        <hr width="100%" color="#990033" size="4">
                                    </div>
                                </div>
                            </div>
                            <%if current_user.yetki?%>
                            <%= link_to 'New Post', new_post_path %>
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
            <%end%>
        </div>
    </div>
